*{
    margin: 0;
    padding: 0;
}
html,body{
    height: 100%;
    width: 100%;
}
body{
background-color:  #e4e7df;
font-family:Arial, Helvetica, sans-serif;
overflow-x: hidden;


}

button:hover{
    cursor: pointer;
}
nav .container{
    width: 100%;
    margin-left: 12px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 3vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* padding: 0vh 1vh; */
    padding-top: 5vh;
    padding-bottom: 4vh;
    position: fixed;
    
    /* mix-blend-mode: difference; */
    /* background-attachment: fixed; */
    
    /* z-index: -1; */

}
.container h1{
        font-size: 20px;
}
.container u{
    margin-right: 29px;
}
a{
    text-decoration: none;
    padding: 2vh ;
    font-size: 3vh;
    color: black;
    font-weight: 1000;
   }
/* a::after{
    content:"";
    background-color: #000;
    width: 0%;
    height: 1%;
    position: absolute;
    
    right: 0;
    bottom: 0;
    transition: 0.5s;
} */
a:hover{
    cursor: pointer;
    /* text-decoration: underline; */

}
.page1{
    display: flex;
    margin-top: 60px;
    margin-bottom: 300px;

}
/* .ese{
     background: #6c4d4d; 
    width: 100px;
    height: 100%;
    background: #000;
} */

.page1 .left{
    width: 60%;
    margin-left: 12px;
}
.page1 .left p{
    width: 50%;
    /* padding-left: 12px; */
    font-size: 18px;
    /* font-weight: 600; */
    padding-bottom: 35px;
}
.page1 .left button{
    /* width: 30%; */
    border: none;
    font-size: 20px;
    padding-bottom: 15px;
    background-color: transparent;
    border-bottom: 2px solid black;
    /* display: flex; */

}
.page1 .right{
    width: 85%;
   
}
.page1 .right h1{
    /* width: 85%; */
    font-size:40px;
    font-weight:lighter;
    /* height: 50%; */
    /* background-color: aqua; */
    padding-left: 10px;
}


 /* marquee{
    /* position: absolute; */
    /* font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 400px; */
    /* background: #8d1d1d; */
    /* height: 450px;
    margin-top: -85px;
}
marquee img{
    width: 240px;
    height: 270px;
} */ 

.slider{
    margin-top: 50px;
    display: flex;
    position: absolute;
    animation: slide 8s linear  infinite both;
  
}
@keyframes slide{
    from{
        top: 40%;
        left: 0%;
    }
    to{
     top: 40%;
     left: -150%;
    }
}
.slider-content h1{
    font-size: 250px;
    letter-spacing:-12px;
    /* background: #000; */
    margin-top: 0;
    padding-top:0px;

}
.slider-img{
    margin-top: 45px;
}
.slider-img img{
    width: 150px;
    height: 185px;
}
/* .slider1{
    display: flex;
    position: absolute; 
    animation-name: move;
    animation-duration: 5s;
    animation-delay: 1s;
    animation-timing-function: linear;

    
 }
@keyframes move{
    from{
        top: 40%;
        left:100%;
    }
    to{
        top: 40%;
     left:-150%;
    }
}   */

.full1{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    /* flex-direction: column; */
    /* align-items: end; */
    /* display: flex;
    flex-direction: column;
    align-items:center;
    justify-content: space-between; */
}
.page2{
    width: 100%;
    margin-left: 12px;
    
}
.page2 h1{
    font-size: 40px;
    font-weight: lighter;
}
.upper{
 margin-bottom: 50px;
 width: 68%;
}
.lower{
    width: 68%;
    margin-bottom: 50px;
}
.page2 hr{
    height: 1px;
    background-color: #80837b;
}
 
.page3{
    margin-top: 20px;
    margin-bottom: 20px;
    width: 100%;
    /* height: 120%; */
    display: flex;
    justify-content: space-between;
    font-size:18px;
    margin-left: 12px;
   
}
.page3 p{
    color: #80837b;
}
 /* .page3 span{
    background: #000;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    /* display:flex */


.page3 .left h2 :first-child >span{
    height: 50px;
    width: 50px;
    background-color: black;
}
.page3 h2{
    font-weight: 500;
    padding-bottom: 20px;
    padding-top: 20px;
    font-size: 18px;
}
.page3 .left{
    width:25%;
}
.page3 .middle{
     width: 30%;
     padding-left: 150px;
}
.page3 .right{
    
    width: 10%;
}

.page4{
    background-color:#ffffff ;
}
.page4nav{
    display: flex;    
    margin: 12px;
    /* background-color: #fff; */
}
.page4child{
    /* width: 80%; */
    display: flex;
    /* justify-content:space-around; */
     align-items: center;

}
.page4child :last-child{
    margin-top: -5px;
}
.page4nav h1{
    padding: 5px 12vh;
    margin: 5px 15px;
    margin-left: 2px;
    padding-right: 280px;
    font: weight 600px;;
    font-size: 18px;
}
.page4nav .dote{
        margin-top: 12px;
        margin-right: -55px;
        background-color:black;
        height: 15px;
        width: 15px;
        border-radius: 50%;

}

.page4nav button{
   background-color: transparent;
   border: none;
   border-bottom: 2px solid black;
   font-size: 18px;
   position: absolute;
   right: 18px;
   padding-top: 10px;
}
.page4content h2{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    width: 80%;
    letter-spacing: -25px;

}
.page4content h1{
   margin-top: -130px;
    margin-left: 15px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    /* width: 80%; */
    letter-spacing: -42px;
}


.page4content {
    font-size: 200px;

}
.page4content video{
    height: 300px;
    width: 350px;
    /* padding: 10px; */
    margin-left: 30px;
    margin-bottom: -50px;
}
.page4footer{
    display: flex;
    margin-left: 12px;
    /* width: 100%; */
}
.page4footer h1{
    padding-right: 220px;
    font-size: 18px;
    font-weight: 100;
}
.page4footer button{
    background-color: transparent;
    border: none;
    border-bottom: 2px solid black;
    font-size: 18px;
    position: absolute;
    right: 18px;
    padding-top: 10px;
 }

 @media (max-width:600px){
    body{
        font-size: initial;
        padding: 5px;
    }
  
   .container a{
    display: none;
    /* img */
    
   }
   .container .pricing{
        margin-right: 50vh;
   }
   .page1 .right h1{
    font-size: initial;
   }
   .page1{
    padding-top: 80px;
    margin-bottom: 50px;
   }
  
  .slider{
        margin-top:-30vh
    } 
   .slider h1{
    font-size: 90px;
       letter-spacing:-10px
   }
   .slider img{ 
    height: 75px;
    width: 50%;
    margin-top:-30px;
}
   .page2 h1{
        /* width: 100%; */
        font-size: initial;
       
   }
   .page3{
    display: flex;
    flex-direction: column;
    /* justify-content: flex-start; */
    /* align-items: flex-start; */
   }
   .page3 .middle{
    padding-left: 0%;
    background-color: aquamarine;
   }
   /* .page4{
        background-color: rgb(217, 255, 0);
        width: 100%;
       
   } */
   .page4nav{
    margin-left:initial ;
   }
   .page4nav h1{
    padding-right: initial;
   }
   .page4child{
    width: 45%;
    display:flex ;
    flex-direction: column;
   }
   .page4nav button{
    margin-right:70px;
    font-size: initial;
   }
   .page4content{
    margin-top: 100px;
    /* font-size: small; */
   }
   .page4content video{
    height: 500px;
    width: 300px;
    margin-left: -15px;
   }

   }
    
